* {
	padding: 0;
	margin: 0;
}

table {
	background: #808080;
	margin: auto;	
}

#result {
	width: 352px;
	height: 50px;
	font-size: 23px;
}

.btn {
	width: 68px;
	height: 64px;
	font-size: 23px;
}
#equ {
	height: 132px;
}

#zero {
	width: 140px;
}