/* Định dạng form */
form {
	/*Tạo viền ngoài form*/
    border: 3px solid #f1f1f1;

     /*Độ rộng 30%*/
    width: 30%;

    /* Form cách lề trên 100px, canh đều hai bên bằng auto */
    margin: 100px auto;
}

/* Định dạng các trường input kiểu text và kiểu password */
input[type=text], input[type=password] {

	/* Chiều rộng full form */
    width: 100%;

    /* Nội dung cách đường viền trên và dưới 12px, cách 2 bên 20px */
    padding: 12px 20px;

    /* Khối input cách hai khối label trên và dưới 8px */
    margin: 8px 0px;

    /* đường viền cho input */
    border: 1px solid #ccc;

    /* Thuộc tính giữ kích thước box khi thay đổi các thành phần bên trong border */
    box-sizing: border-box;
}

/* Định dạng button */
button {
	/* Màu nền */
    background-color: #4CAF50;

    /* Màu chữ button */
    color: white;

    /* Khoảng cách nội dung button so với lề */
    padding: 14px 20px;

    margin: 8px 0;

    /* Xóa viền */
    border: none;

    /* Khi trỏ chuột vào curson trở thành dạng pointer */
    cursor: pointer;

    width: 100%;
}

/* Định nghĩa button cacel */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Cách đều form so với container chứa nó */
.container {
    padding: 16px;
}

