
/* Định dạng form */
form {
    /*Tạo viền ngoài form*/
    border: 3px solid #f1f1f1;

     /*Độ rộng 30%*/
    width: 30%;

    /* Form cách lề trên 100px, canh đều hai bên bằng auto */
    margin: 100px auto;
}

/* Định dạng các input */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Định dạng 2 button phía dưới */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Định dạng cho button cancel*/
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Sắp xếp 2 button về inline */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Cách đều form so với container chứa nó */
.container {
    padding: 16px;
}

/* Xóa float */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



